<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-4">
      <div class="img-circle">
        <%= profile_pic_select(@user, 'edit') %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-name-and-family row">
        <h3 class="profile-user-name col-md-6">
          <%= @user.first_name + ' ' + @user.last_name %>
        </h3>
        <span class="col-md-6 edit-leave-join">
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn join-family-button' %>
          <% else %>
              <% if current_user_is_family(@user.id) %>
                <%= link_to 'Leave Family', leave_family_path(family_id: @user.id), remote: true, class: 'btn leave-family-button', id: 'leave-family-button', method: 'post' %>
              <% else %>
                <%= link_to 'Join Family', join_family_path(family_id: @user.id), remote: true, class: 'btn join-family-button', id: 'join-family-button', method: 'post' %>
              <% end %>
          <% end %>
        </span>
      </div>
      <p class="profile-bio">
        <%= @user.bio %>
      </p>
      <div class="user-statistics">
        <p class="num-memories">
          <%= pluralize @user.posts.count, 'memory' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="post-index">
  <%= render 'posts/posts' %>
</div>

<% if @user.posts.all.count > 3 %>
    <div class="text-center" id="paginator">
      <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more' %>
    </div>
<% end %>
