<div class="posts-wrapper">
  <div class="post">
    <div class="image center-block" align="middle">
      <%= display_form_image_or_placeholder(@post) %>
    </div>
    <div class="container-fluid post-upload-form">
      <%= form_for(@post) do |f| %>

          <%= f.label :image %>
          <%= f.file_field :image, onChange: 'loadFile(event)' %>

          <%= f.text_area :caption, placeholder: 'Tell your story...', rows: 5, class: 'form-control' %>

          <%= f.date_select(:date, start_year: 1900, end_year: Date.today.year) %>

          <%= f.submit message, class: 'btn btn-main' %>
      <% end %>
    </div>
  </div>
</div>