<div class="posts-wrapper">
  <div class="post">
    <div class="image center-block" align="middle">
      <%= display_form_image_or_placeholder(@post) %>
    </div>
    <div class="container-fluid post-upload-form">
      <%= form_for(@post) do |f| %>

            <%= f.label :image %>
            <%= f.file_field :image, onchange: 'loadFile(event)' %>

          <%= f.text_field :caption, placeholder: 'Caption', class: 'form-control' %>

          <%= f.submit message, class: 'btn btn-main' %>
      <% end %>
    </div>
  </div>
</div>