<!DOCTYPE html>
<html>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "Pictagram", root_path %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href=<%=new_post_path%>><span class="glyphicon glyphicon-upload"></span> New Post</a>
        </li>
        <li>
        	<a href="#"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-globe"></span> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <title>Pictagram</title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


 <body>
 	<%= yield %>
 </body>

</html>
